.restart {
  margin-top: 40px;
  margin-inline: auto;
  display: none;

  padding: 0.75rem 1.875rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #545454;
  border: 0.0625rem solid #545454;
  border-radius: 0.375rem;
  background-color: transparent;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}
